[user]
name = dan [db]
email = dan@danbrooks.net
[color]
diff = auto
status = auto
branch = auto
[core]
editor = vim
[alias]
# Console gitview replacement
lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cblue%an%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

